.photo-grid {
  max-width: 1184px;
  margin: 0 48px;
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    min-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    min-width: 720px;
    padding-top: 88px;
    margin: 0 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    min-width: 288px;
    padding-top: 64px;
    margin: 0 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
  }
}