.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 148px 0 148px;
  max-width: 984px;
  color: #fff;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .lead {
    padding: 48px 48px 0 48px;
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead {
    padding: 48px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding: 48px 2px 0 2px;
  }
}