.place__link {
  padding-top: 12px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFF;
  transition: opacity .8s;
}

.place__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 320px) {
  .place__link {
    margin-left: 16px;
  }
}